@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}


.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    transition: 1s;
    background: url('../images/img.webp') no-repeat center center/cover;
    color: white;
}

.showcase header{
    position: absolute;
    top: 0;
    bottom: 30;
    left: 0;
    width: 100%;
    padding: 60px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-transform: uppercase;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(22 33 55);
    mix-blend-mode: overlay;
}

.text{
    position: relative;
    z-index: 2;
    top: 150px;
    padding: 30px;
}

.main-p{
    margin-bottom: 20px;
}

.message {
    font-size: 16px;
}

.main-input{
    margin-bottom: 50px;
    overflow: hidden;
}

#guess-input{
    padding: 4px 8px;
    color: black;
}

#guess-btn{
    display: inline-block;
    font-size: 0.7em;
    background: black;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

#guess-btn:hover{
    letter-spacing: 6px;
    cursor: pointer;
}



@media(max-width: 798px){
    .showcase header h1{
        padding: 0px; 
        padding-top: 20px;
        font-size: 23px;
    }
    .main-p{
        font-size: 14px;
        margin-top: 50px;
    }
    .message {
        font-size: 12px;
    }
    #guess-btn{
        padding: 4px 10px;
    }
    #guess-btn:hover{
        letter-spacing: 3px;
    }
    #guess-input{
        padding: 3px 6px;
    }
}

@media(max-width: 498px){
    .showcase header h1{
        padding: 0px; 
        padding-top: 20px;
        font-size: 18px;
    }

    #guess-btn{
        padding: 3px 8px;
    }
}
 
 
